@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #fdc131;
  font-family: "Montserrat";
  font-size: 22px;
  display: flex;
  transition: color 0.4s ease;
}

.navbar a {
  color: #000;
}

.navbar a:hover {
  color: #fff;
}

.navbar-toogle {
  color: #000;
  background-color: #fdc131;
  border: none;
  font-size: 30px;
  padding: 0 20px;
}

.carousel-item, .contact img {
  height: 70vh;
  width: 100%;
  background-color: #000;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 10px #000;
}

h1 {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 30px;
  color: darkgray;
}

h2 {
  height: 5rem;
  background-color: #fdc131;
  font-family: "Montserrat";
  color: #000;
  text-align: center;
  padding: 1rem 2rem;
  margin: 0px;
}

h3 {
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: 100;
  line-height: 70px;
}

p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

#galeria .col-xxl-4, .col-xl-4, .col-lg-4, .col-md-6, .col-sm-12, .col-xs-12 {
  padding: 0 !important;
  margin: 0 !important;
}

#galeria img {
  height: auto;
  width: 100%;
}

.clientHeader {
  background-color: #fdc131;
  padding: 6rem;
  color: #fff;
  height: 5rem;
}
.clientHeader h2 {
  margin-top: 0px;
  color: #000;
}
.clientHeader h1 {
  color: #fff;
}

.clientGalery {
  background-color: #fdc131;
  padding: 8rem;
}
.clientGalery .row {
  padding: 0px;
}
.clientGalery .col {
  margin: 5px;
}

.agency {
  height: auto;
  width: 100%;
  background-color: #fdc131;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -o-object-position: center;
     object-position: center;
}
.agency .row {
  background-color: #fdc131;
}
.agency h2 {
  margin-top: 4rem;
}
.agency h1 {
  color: #fff;
  background-color: #fdc131;
  text-align: center;
  -o-object-position: center;
     object-position: center;
  margin: 2rem;
}
.agency a {
  border-radius: 0px;
  font-size: 20px;
  border: solid 2px #fff;
  color: #fff;
  margin: 2rem;
  padding: 12px 20px;
}
.agency a:hover {
  color: #fdc131;
  border: solid 2px #000;
  background-color: #000;
}

.agencyCont {
  background-color: #fdc131;
  padding: 4rem;
}
.agencyCont h1 {
  color: #fff;
  padding-bottom: 2rem;
}
.agencyCont a {
  border-radius: 0;
  padding: 1rem;
  color: #fff;
  background-color: #fdc131;
  border: solid 2px #fff;
}
.agencyCont a:hover {
  color: #fff;
  background-color: #000;
  border: solid 2px #000;
}

.featured {
  height: 22rem;
  width: 100vw;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 36px;
  color: #000;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.featured h4 {
  font-size: 20px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #fdc131;
}
.featured h4 span {
  margin-top: 1rem;
  font-size: 90px;
}
.featured a {
  border-radius: 0px;
  font-size: 20px;
  border: solid 2px #353636;
  color: #fdc131;
  padding: 12px 20px;
}
.featured a:hover {
  color: #fdc131;
  border: solid 2px #000;
  background-color: #000;
}

.contact {
  background-color: #000;
}
.contact .col {
  border: 2px solid #000;
}
.contact .row {
  border: 0px solid #fdc131;
}
.contact h2 {
  padding: 1rem;
}

.contact h1 {
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.contact img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.contactForm {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0;
  color: #fdc131;
}
.contactForm .btn {
  font-size: 20px;
  color: #000;
  background-color: #fdc131;
  border: 0px solid #fdc131;
  border-radius: 0;
}
.contactForm .btn:hover {
  color: #fff;
  background-color: #000;
}
.contactForm p {
  padding: 1rem;
}
.contactForm h2 {
  background-color: #fff;
}

footer {
  height: auto;
  width: 100vw;
  background-color: #fdc131;
  font-family: "Montserrat";
  padding: 15px;
  color: #000;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
footer p {
  display: flex;
  margin-bottom: 16px;
  text-align: center;
  justify-content: center;
}
footer p span {
  margin-bottom: 16px;
  opacity: 0.6;
}
footer i {
  font-size: 30px;
  color: #000;
  letter-spacing: 18px;
}
footer i:hover {
  color: #fff;
}

.subir {
  height: 50px;
  width: 50px;
  background-color: #fdc131;
  text-align: center;
  line-height: 50px;
  border: 2px solid #000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  font-size: 27px;
  color: #000;
}
.subir :hover {
  color: #fff;
}/*# sourceMappingURL=estilos.css.map */