@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//////////////MIS VARIABLES////////////

$color1828:#fdc131;
$colorg: #353636;
$colork: #000;
$colorw: #fff;

$font1: 'Montserrat';
$font2: thin;
$font3: bold;

//////////////FIN VARIABLES////////////

// RESETEO>>>>>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body{
//     @if $vista == desktop {
//         @media only screen and (min-width:1024px){
//             h1{font-size:$h1Desktop;}
//             h3{font-size:35px;}
//             }
//         } @else if $vista == mobile {
//             @media only screen and (max-width:767px){
//                 navbar{font-size: 16px;}
//                 h3{font-size:25px;}
//             }
//         }
//     }

// INCIO NAVBAR>>>>>
.navbar{
    background-color: $color1828;
    font-family: $font1;
    font-size: 22px;
    display: flex;
    transition: color .4s ease;
}

.navbar a{
    color: $colork;
}

.navbar a:hover{
    color: $colorw;
}

.navbar-toogle{
    color: $colork;
    background-color:$color1828;
    border: none;
    font-size: 30px;
    padding: 0 20px;
}

// FIN NAVBAR

.carousel-item{
    height: 70vh;
    width: 100%;
    background-color: $colork;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 10px $colork;
}

// INCIO HOME/WORK>>>>>

h1{
    font-family: $font1;
    font-weight: 200;
    font-size: 30px;
    color:darkgray ;
}

h2{
    height: 5rem;
    background-color: $color1828;
    font-family: $font1;
    color: $colork;
    text-align: center;
    padding: 1rem 2rem;
    margin: 0px;
}

h3{
    font-family: $font1;
    font-size: 72px;
    font-weight: 100 ;
    line-height: 70px;
}

p{
    font-family: $font1;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

#galeria .col-xxl-4, .col-xl-4, .col-lg-4, .col-md-6, .col-sm-12, .col-xs-12 {
    padding: 0 !important;
    margin: 0 !important;
}

#galeria img{
    height: auto;
    width: 100%;
}

// INCIO CLIENTS>>>>>
.clientHeader{
    background-color: $color1828;
    padding: 6rem;
    color: $colorw;
    height: 5rem;
    h2{
        margin-top: 0px;
        color: $colork;
    }
    h1{
        color: $colorw;
    }
}

.clientGalery{
    background-color: $color1828;
    padding: 8rem;
    .row{
        padding: 0px;
    }
    .col{ 
        margin: 5px;
    }
}
//FIN CLIENTS

// INCIO AGENCY>>>>>
.agency{
    height: auto;
    width: 100%;
    background-color: $color1828;
    margin-bottom: 0px;
    padding-bottom: 0px;
    object-position: center;
    .row{
        background-color: $color1828;
    } 
    h2{
        margin-top: 4rem;
    }    
    h1{
        color: $colorw;
        background-color: $color1828;
        text-align: center;
        object-position: center;
        margin: 2rem;
    }
    a{
        border-radius: 0px;
        font-size: 20px;
        border: solid 2px $colorw;
        color: $colorw;
        margin: 2rem;
        padding: 12px 20px;
    }
    a:hover{
        color: $color1828;
        border: solid 2px $colork;
        background-color: $colork;
    }
}

.agencyCont{
    background-color: $color1828;
    padding: 4rem;
    h1{
        color: $colorw;
        padding-bottom: 2rem;
    }

    a{
        border-radius: 0;
        padding: 1rem;
        color: $colorw;
        background-color: $color1828;
        border: solid 2px $colorw;
    }

    a:hover{
        color: $colorw;
        background-color: $colork;
        border: solid 2px $colork;
    }

}

.featured{
    height: 22rem;
    width: 100vw;
    font-family: $font1;
    font-weight: 200 ;
    font-size: 36px;
    color: $colork;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h4{
        font-size: 20px;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        color: $color1828;
    }

    h4 span{
        margin-top: 1rem;
        font-size: 90px;
    }

    a{
        border-radius: 0px;
        font-size: 20px;
        border: solid 2px #353636;
        color: $color1828;
        padding: 12px 20px;
    }
    a:hover{
        color: $color1828;
        border: solid 2px $colork;
        background-color: $colork;
    }
}
//FIN CLIENTS


// INCIO CONTACTO>>>>>

.contact{
    background-color: $colork;
    .col{
        border: 2px solid $colork;  
    }
    .row{
        border: 0px solid $color1828; 
    }
    h2{
        padding: 1rem;
    }
}

.contact h1{
    padding: 2rem;
    background-color: $colork;
    color: $colorw

}
.contact img{
    @extend .carousel-item;
    height: max-content;
    background-color: $colork;
    background-size: cover;
    background-position: center;
}

.contactForm{
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: $colorw;
    border-radius: 0;
    color: $color1828;
    .btn{
        font-size: 20px;
        color: $colork;
        background-color: $color1828;
        border: 0px solid $color1828; 
        border-radius: 0;
    }
    .btn:hover{
        color:$colorw;
        background-color: $colork;
    }
    p{
        padding: 1rem;
    }
    h2{
        background-color: $colorw;
    }
}

// FIN CONTACTO

// INCIO FOOTER>>>>>

footer{
    height: auto;
    width: 100vw;
    background-color: $color1828;
    font-family: $font1;
    padding: 15px;
    color: $colork;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;

    p{
        display: flex;
        margin-bottom: 16px;
        text-align: center;
        justify-content: center;
    }

    p span{
        margin-bottom: 16px;
        opacity: .6;
    }
    
    i{
        font-size: 30px;
        color: $colork;
        letter-spacing: 18px;   
    }
    
    i:hover{
        color: $colorw;
    }
}
// FIN FOOOTER

.subir{
    height: 50px;
    width: 50px;
    background-color: $color1828;
    text-align: center;
    line-height: 50px;
    border: 2px solid $colork;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    font-size: 27px;
    color: $colork;
    
    :hover{
        color: $colorw;
    }
}

@import "_clients";
    